

.link{
    text-decoration:none;
}

.deleteBtn {
    padding:5px 3px;
}

.map{
    height: 100%;
}


/*///////////////////////////////////////////AQUI ESTUBO BRIAN :D//////////////////////////////////////////////*/

