################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/sico-inacap/v15/Server/sqlite3
/sico-inacap/obj
/.vs/sico-inacap/v15
/sico-inacap/bin/Debug/netcoreapp2.0
