@if (Session["username"] != null)
{
    using (Html.BeginForm("Logout", "Login", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    <li>
        <span class="badge badge-pill badge-primary">
            @Html.ActionLink("Hola " + Session["nombreUsuario"] + " !", "Index", "Home", null, new { @class = "nav-link text-light" })
        </span>

    </li>
    
    <li><a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-danger mx-3 btn-sm" role="button" aria-pressed="true">Cerrar sesión</a></li>
</ul>
        
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Iniciar sesión", "Index", "Login")</li>
    </ul>
}